/* Add CSS Styling */

.numeroum, .numerodois {
    font-size: 28px;
    font-family: Helvetica, 'Times New Roman', sans-serif;
}

.numeroum {
    background-color: black;
    color: white;
}

.numerodois {
    background-color: yellow;
    color: black;
}